<div class="card border-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">test angular 1.8 & bootstrap project</div>
  <div class="card-body">
    <h4 class="card-title">random dialog</h4>
    <p class="card-text">display info, conversations, input, output, etc?</p>
    <div class="container">
      <div ng-app="">
        <p>Test Angular<input type="text" ng-model="data_field" class="form-control"></p>
        <div class="alert alert-secondary">{{data_field}}</div>
      </div>
    </div>
  </div>
</div>
