<div id="__loader_unq__0" class="loader loader-hide d-flex align-items-center justify-content-center">
  <div class="inner-loader"></div>
</div>
<div id="__loader_unq__1" class="loader-over loader-hide d-flex align-items-center justify-content-center">
  <div class="loader-msg"><em>Loading</em></div>
</div>

<style>
  .inner-loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }

  .loader {
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
  }

  .loader-over {
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
  }

  .loader-msg {
    text-align: center;
    line-height: 72px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .loader-hide {
    display: none !important;
  }

  .loader-open {
    overflow: hidden;
  }
</style>