<div ng-if="$ctrl.data.mode === $ctrl.SUMMARY" class="d-flex">
  <button type="button" class="btn btn-link ml-auto" ng-click="$ctrl.setMode($ctrl.VIEW)">
    <span class="h6"><i class="fas fa-bell text-white"></i>&nbsp;(<span class="text-white">{{$ctrl.data.messages.length}}</span>)</span>
  </button>
</div>
<div ng-if="$ctrl.data.messages.length > 0 && $ctrl.data.mode === $ctrl.VIEW" id="message-stack" class="card alert-card message-view">
  <div class="card-header alert-card-header clearfix">
    <div class="float-left p-2">
      <div><span class="h6 clearfix"><i class="fas fa-bell"></i>&nbsp;({{$ctrl.data.messages.length}})</span></div>
      <div p-0><a href="#" class="btn btn-link tiny-text" ng-click="$ctrl.closeAll()" ng-if="$ctrl.data.messages.length > 1">Clear All Messages</a></div>
    </div>
    <button class="close ml-auto mr-1" type="button" title="Close Messages" ng-click="$ctrl.setMode($ctrl.SUMMARY)">&times;</button>
  </div>
  <div class="card-body alert-card-body carousel slide carousel-fade" data-bs-keyboard="false" data-bs-ride="false" data-bs-ride="false" id="message-stack-carousel">
    <div class="carousel-inner">
      <div ng-if="$ctrl.data.messages == 0" class="carousel-item">
        <div class="d-inline-block">No messages.</div>
      </div>
      <div ng-repeat="msg in $ctrl.data.messages" ng-class="msg.type" role="alert" id="rd-msg-{{$index}}">
        <button type="button" class="close" ng-click="$ctrl.removeMessage($index)" ng-disabled="$ctrl.data.removing">&times;</button>
        <div class="d-inline-block" compile="<div>{{msg.content}}</div><div class='tiny-text text-end'>{{$index+1}} of {{$ctrl.data.messages.length}}</div>"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#message-stack-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#message-stack-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<style>
  .message-view {
    position: absolute;
    min-width: 300px;
    right: 5px;
    top: 5px;
  }
</style>
